body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-size: 20px 20px;
  background-image:
    linear-gradient(to right, rgba(39, 78, 184, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(39, 78, 184, 0.15) 1px, transparent 1px);
}

.tohome {
  width: 100%;
  top: 0;
  position: sticky;
}

.container {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.learn {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
  margin-bottom: 50px;
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  text-align: justify;
  text-justify:  inter-word;
}

.left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 20px;
  align-items: center;
  justify-content: center;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.right {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Roboto Thin', sans-serif;
  font-weight: 30;
  font-size: 40px;
}

h1, h2, h3 {
  background-color: #f9b9f1bd;
  padding-left: 10px;
  padding-right: 10px;
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  text-align: justify;
  text-justify:  inter-word;
}

.links {
  margin: 5%;
}

button{
  padding: 10px;
  margin: 10px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size:  12px;
  text-align: justify;
  text-justify:  inter-word;
  background-color: white;
  box-shadow: 2px 3px 5px gray;
}

button:hover{
  box-shadow: 5px 6px 5px gray;;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

li{
  margin: 15px 0;
}
