body {
  display: flex;
  align-items: stretch;
}

button{
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border-width: 1px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size:  12px;
  text-align: justify;
  text-justify:  inter-word;
  background-color: transparent;
  border-color: #c4f7a1;
  color: #335C81;
  box-shadow: 2px 3px 5px gray;
}

.tag {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border-width: 0px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size:  12px;
  text-align: justify;
  text-justify:  inter-word;
  background-color: #c4f7a1;
  color: black;
  box-shadow: none;
  padding-left: 20px;
  padding-right: 20px;
}

.tags {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover{
  box-shadow: 5px 6px 5px gray;;
}

h1 {
  font-family: 'Roboto Thin', sans-serif;
  font-weight: 100;
  font-size: 60px;
 text-shadow: -3px -3px 0px #335C81,
                 -6px -6px 0px #5FBB97,
                 -9px -9px 0px #c4f7a1;
  /*  text-shadow: -3px -3px 0px #D1495B,
                 -6px -6px 0px #FF7F11,
                 -9px -9px 0px #FFDA22;*/
}

p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  text-align: justify;
  text-justify:  inter-word;
}

img {
  object-fit: cover;
  width: 20%;
  height: 20%;
  margin:  5%;
  box-shadow: 2px 2px 10px #b8b3e9;
  transition: transform .3s;
}

.holder {
  width:  100vw;
  height: 95vh;
  display:  flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.photogrid {
  height: 100%;
  width:  50%;
  display:  flex;
  align-items: center;
  justify-content: center;
}

.intro {
  height: 100%;
  width:  50%;
  background-color: white;
  display:  flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  margin: 5%;
}

.title {
  display:  flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding:  10%;
}

img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

img:hover .intro {
  display: none;
}

.project1 {
  display:  none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding:  10%;
}